<table class="table table-stripped table-responsive">
	<% @attends.each do |attendance| %>
		<tr>
			<% if attendance.student %>
				<td><%= attendance.student.name %></td>
				<td><%= attendance.subject.name %></td>
				<td><%= attendance.day %></td>
			<% end %>
		</tr>
	<% end %>
</table>
<%= link_to "Export attendace as spreadsheet", attends_path(format: "xlsx"), class: "btn btn-default" %>